@page
@using BMCR_projeckt.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model System.Collections.Generic.List<BMCR_projeckt.ViewModels.BuildingViewModel>
@{
    List<BuildingViewModel> buildings = new List<BuildingViewModel>();
    buildings = Model;
}
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Create Building</title>
</head>
<body>
<div>
    <div class="container">
        <h1>Create Builing</h1>
        <form method="post" asp-controller="Create" asp-action="CreateBuilding">
            <div class="form-group">
                <input type="text"  name="Name"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Building" class="btn btn-primary mt-2"/>
            </div>
        </form>
    </div>
</div>
<div class="d-flex justify-content-center">
    <a href="/Create/Index" class="btn btn-secondary">View buildings</a>
</div>
@if (buildings != null)
{
    foreach (BuildingViewModel b in buildings)
    {
        <div>@b.Name</div>
    }
}
</body>
</html>