@using BMCR_projeckt.ViewModels
@model System.Collections.Generic.List<BMCR_projeckt.ViewModels.BuildingViewModel>
@{
    List<BuildingViewModel> buildings = new List<BuildingViewModel>();
    buildings = Model;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Index</title>
</head>
<body class="bg-dark text-white">
<h1 class="m-2">Welcome to BMCR</h1>
<div class="d-flex justify-content-center flex-wrap m-5">
    @if (buildings != null)
    {
        foreach (BuildingViewModel b in buildings)
        {
            <div class="card bg-dark border m-2" style="width: 25rem;">
                <div class="card-body">
                    <h5 class="card-title">@b.Name</h5>
                    <a asp-controller="Create" asp-action="EditBuilding" asp-route-ID="@b.ID" class="btn btn-warning">✏</a>
                    <a asp-controller="Create" asp-action="DeleteBuilding" asp-route-ID="@b.ID" class="btn btn-danger">💣</a>
                    <a asp-controller="Create" asp-action="Detail" asp-route-ID="@b.ID" class="btn btn-info">Detail</a>
                </div>
            </div>
        }
    }
</div>
<div class="d-flex justify-content-center">
    <a type="button" class="btn btn-success "href="/Create/CreateBuilding">
        Create new BUILDING
    </a>
</div>
</body>
</html>