@using BMCR_projeckt.ViewModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model BMCR_projeckt.FormModels.TimeFormModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <title>Create Time</title>
</head>
<body class="bg-dark text-white">
<div>
    <div class="container">
        <div class="d-flex">
            <h1 class="m-2">Create Builing</h1>
            @if (ViewData["Error"] != null)
            {
                <div class="alert alert-danger m-3" role="alert">
                    @ViewData["Error"]
                </div>
            }
            
        </div>
        <form class="mt-5" method="post" asp-controller="Time" asp-action="CreateTime" asp-route-RoomID="@Model.RoomID">
            <div class="form-group">
                <label for="Description">Description:</label>
                <input type="text" asp-for="Description" name="Description" class="form-control w-25"/>
                <label for="From">From:</label>
                <input type="datetime-local" asp-for="From" name="From" class="form-control w-25"/>
                <label for="To">To:</label>
                <input type="datetime-local" asp-for="To" name="To" class="form-control w-25"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create Time" class="btn btn-primary mt-2"/>
            </div>
        </form>
    </div>
</div>
<div class="d-flex justify-content-center">
    <a href="/Create/Index" class="btn btn-secondary">View buildings</a>
</div>


</body>
</html>